*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body {
  max-width: 100vw;  /* viewport width */
  overflow-x: hidden; /* prevent horizontal scroll */
}
@media only screen and (max-width: 455px){
    .cards{
        flex-direction: column;
    }

}
#main{
    height: 100%;
    width: 100%;
}
header{
    height: 10%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
#fakeheader{
    height: 10%;
    width: 100%;
    background-color: pink;
}
#div1{
    height: 70%;
    width: 10%;
}
#div1 button:hover{
    border: 1px solid white;
}
#div1 button{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: none;
    /* border: 1px solid black; */
}
#div1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#div2{
    height: 70%;
    width: 7%;
    /* margin: 20px; */
}
#div2 button{
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: white;
    background-color: black;
}
#div2 button:hover{
    border: 1px solid white;
}
#div3{
    height: 70%;
    width: 50%;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}
#div3 button{
    height: 98%;
    width: 10%;
    font-size: large;
}
#b0:hover{
    background-color: white;
}
#b1{
    height: 100%;
    width: 10%;
    background-color: orange;
}
#b1:hover{
    background-color: rgb(206, 88, 20);
}
#div3 input{
     height:  98%;
    width: 80%;
    font-size: large;
}
#div4{
    height: 60%;
    width: 5%;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
}
#div4:hover{
    border: 1px solid white;
}
#div4l{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
#div4 img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}
#div4r{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#div5{
     height: 60%;
    width: 10%;
    /* margin:10px; */
}
#div5:hover{
    border: 1px solid white;
}
#div5u{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
#div5d{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}
#div6{
     height: 60%;
    width: 5%;
    /* margin:10px 0px 10px ; */
}
#div6u{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
#div6l{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
}
#div7{
     height: 60%;
    width: 5%;
    /* margin:10px 0px 10px ; */
    display: flex;
    justify-content: center;
    align-items: center;  
}
#div7 i{
    font-size: 40px ;
    color: white;
}
#div6:hover{
    border: 1px solid white;
}
#div7:hover{
    border: 1px solid white;
}
#navbar{
    height: 6%;
    width: 100%;
    background-color: rgb(34, 46, 61);
    display: flex;
    align-items: center;
}
.text{
    height: 80%;
    width: 10%;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.text a{
    text-decoration: none;
    color: white;
}
#navdiv1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: white;
}
#navdiv2{
    height: 100%;
    width: 50%;
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.text:hover{
    border: 1px solid white;
    margin: 0px;
}
#page{
    height: 84%;
    width: 100%;
     background-image: url(https://m.media-amazon.com/images/I/71h15GsHkvL._SX3000_.jpg);
     background-size: cover;
}
#p1u{
    height: 35%;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
#bgif{
   height: 14%;
   width: 90%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}
#bgif a{
    text-decoration: none;
    color: rgb(9, 88, 120);
}
#p1l{
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
}
.box{
    height: 380px;
    width: 320px;
    background-color: white;
    margin-left: 45px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
#box1u{
    height: 8.8%;
    width: 100%;
    background-color: white;
}
#box1u h1{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
#box1m{
    height: 76%;
    width: 100%;
}
#box1m img{
    height: 95%;
    width: 90%;
    object-fit: cover;
    margin-left: 15px;
}
#box1l{
    height: 10%;
    width: 100%;
    background-color: white;
}
#box1l a{
    text-decoration: none;
    margin-left: 20px;
    color: rgb(9, 88, 120);
}
#box2u{
    height: 15%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: flex-end;
}
#box2u h1{
    font-size: 19.5px;
    margin-left: 17px;
    margin-bottom: 10px;
}
#box2m{
    height: 72%;
    width: 100%;
}
#box2mu{
    height: 50%;
    width: 100%;
    display: flex;
}
#box2mul{
    height: 100%;
    width: 50%;
}
#box2mur{
    height: 100%;
    width: 50%;
}
#box2ml{
    height: 50%;
    width: 100%;
    display: flex;
}
#box2mll{
    height: 100%;
    width: 50%;
}
#box2mlr{
    height: 100%;
    width: 50%;
}
#box2mur img{
    height: 85%;
    width: 87%;
}
#box2mlr img{
    height: 85%;
    width: 87%;
}
#box2mul img{
    height: 85%;
    width: 87%;
    margin-left: 15px;
}
#box2mll img{
    height: 85%;
    width: 87%;
    margin-left: 15px;
}
.box2mw{
    text-decoration: none;
    font-size: 12px;
    margin-left: 15px;  
    font-weight: bold;
    color: black;
}
#box2l{
    height: 13%;
    width: 100%;
    display:flex;
    align-items: center;
    margin-left: 15px;
}
#box2l a{
    text-decoration: none;
    color: rgb(9, 88, 120);
}
#box3u{
    height: 15%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: flex-end;
}
#box3u h1{
    font-size: 19.5px;
    margin-left: 17px;
    margin-bottom: 10px;
}
#box3m{
    height: 72%;
    width: 100%;
}
#box3mu{
    height: 50%;
    width: 100%;
    display: flex;
}
#box3mul{
    height: 100%;
    width: 50%;
}
#box3mur{
    height: 100%;
    width: 50%;
}
#box3ml{
    height: 50%;
    width: 100%;
    display: flex;
}
#box3mll{
    height: 100%;
    width: 50%;
}
#box3mlr{
    height: 100%;
    width: 50%;
}
#box3mur img{
    height: 85%;
    width: 87%;
}
#box3mlr img{
    height: 85%;
    width: 87%;
}
#box3mul img{
    height: 85%;
    width: 87%;
    margin-left: 15px;
}
#box3mll img{
    height: 85%;
    width: 87%;
    margin-left: 15px;
}
.box3mw{
    text-decoration: none;
    font-size: 12px;
    margin-left: 15px;  
    font-weight: bold;
    color: black;
}
#box3l{
    height: 13%;
    width: 100%;
    display:flex;
    align-items: center;
    margin-left: 15px;
}
#box3l a{
    text-decoration: none;
    color: rgb(9, 88, 120);
}
#box4u{
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
}
#box4u h2{
    margin-left: 15px;
    font-size: 21px;
}
#box4m1{
     height: 37%;
     width: 100%;
}
#box4m1 img{
    height: 85%;
    width: 90%;
    margin-left: 15px;
    object-fit: cover;
}
#b4a{
    text-decoration: none;
    font-size: 15px;
    margin-left: 15px;  
    font-weight: bold;
    color: black;
}
#box4m2{
     height: 29%;
     width: 100%;
     display: flex;
}
#box4m2l{
     height: 100%;
     width: 33%;
}
#box4m2m{
     height: 100%;
     width: 33%;
}
#box4m2r{
     height: 100%;
     width: 33%;
}
#box4m2l img{
     height: 100%;
     width: 80%;
     margin-left: 15px;
}
#box4m2m img{
     height: 100%;
     width: 90%;
}
#box4m2r img{
     height: 100%;
     width: 90%;
}
#gw{
  text-decoration: none;
    font-size: 13px;
    margin-left: 15px;  
    font-weight: bold;
    color: black;
}
#box4l{
    height: 16%;
     width: 100%;
     display: flex;
     align-items: flex-end;
}
#box4l a{
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 15px;
    color: rgb(9, 88, 120);
}
#page2{
    height: 100%;
    width: 100%;
    background-color: gainsboro;
    background-size: cover;
}
#p2u{
    height: 55%;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
#p2l{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#p2lb{
    height: 100%;
    width: 94%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
#p2lbu{
    height:20%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-color: white;
}
#p2lbu h1{
    font-size: 20px;
    margin-bottom: 13px;
    margin-left: 15px;
}
#p2lbl{
    height:80%;
    width: 100%;
    display: flex;
    background-color: white;
}
#p2lbl1{
   margin-left: 15px;
}
#p2lbl1 img{
    object-fit: cover;
}
#p2lbl3{
   width: 12%;
}
#p2lbl4{
     width: 25%;
}
#p2lbl4 img{
    object-fit: cover;
}
#p2lbl6{
   width: 10%;
}
.unique{
    height:100%;
    width: 15%;
    margin-left: 10px;
}
#page3{
    height: 84%;
    width: 100%;
    background-color: gainsboro;
}
#p3u{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#p3lb{
    height: 100%;
    width: 94%;
}
#p3lbu{
    height:20%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-color: white;
}
#p3lbu h1{
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
}
#p3lbl{
    height:80%;
    width: 100%;
    display: flex;
    background-color: white;
}
#p3lbl1{
   margin-left: 15px;
   width: 8%;
}
#p3lbl1 img{
    object-fit: cover;
}
#p3lbl2{
    width: 10%;
}
#p3lbl3{
   width: 11%;
}
#p3lbl4{
     width: 10%;
}
#p3lbl4 img{
    object-fit: cover;
}
#p3lbl5{
    width: 15%;
}
#p3lbl6{
   width: 15%;
}
.unique1{
    height:100%;
    width: 10%;
    margin-left: 10px;
}
#p3l{
    height:40%;
    width: 100%;
    background-color: white;
}
#p3lu1{
    height:20%;
    width: 100%;
}
#p3lu2{
    height:65%;
    width: 100%;
}
#p3lu3{
    height:15%;
    width: 100%;
}
#p3lu2 h1{
    margin-left: 480px;
    margin-top: 30px;
}
#p3lu2 button{
    margin-left: 600px;
    margin-top: 6px;
    height: 50px;
    width: 300px;
    font-size: 30px;
    border-radius: 50px;
    border: 0px;
    background-color: rgb(255, 216, 20);
}
#p3lu2 button:hover{
    background-color: #eca730;
}
#p3lu2 p{
     margin-left: 640px;
     margin-top: 6px;
}
#p3lu2 p a{
     margin-left: 10px;
}
#p3lu2 p a:hover{
    color: rgb(231, 4, 4);
}
hr{
    color: black;
    font-weight: bolder;
}
#page4{
    height: 60%;
    width: 100%;
}
#p4d1{
     height: 15%;
    width: 100%;
    background-color: rgb(54, 70, 89);
    display: flex;
    justify-content: center;
    align-items: center;
}
#p4d1 a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
#p4d2{
     height: 65%;
    width: 100%;
    background-color: #232f3e;
    display: flex;
}
#p4d2 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#p4d2 h2{
    color: white;
    font-weight: bolder;
}
#p4d21{
    height: 100%;
    width: 33%;
}
#p4d21 ul{
    margin-left: 320px;
    margin-top: 20px;
}
#p4d21 h2{
    font-size: 18px;
    margin-left: 320px;
    margin-top: 20px;
}
#p4d22 h2{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;
}
#p4d22{
    height: 100%;
    width: 20%;
}
#p4d22 ul{
    margin-left: 50px;
    margin-top: 15px;
}
#p4d23{
    height: 100%;
    width: 20%;
}
#p4d23 h2{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;
}
#p4d23 ul{
    margin-left: 50px;
    margin-top: 15px;
}
#p4d24{
    height: 100%;
    width: 27%;
}
#p4d24 h2{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;
}
#p4d24 ul{
    margin-left: 50px;
    margin-top: 15px;
}
#p4d3{
     height: 20%;
    width: 100%;
    background-color: rgb(255, 119, 0);
    display: flex;
}
#alogo{
    height: 100%;
    width: 40%;
    background-color: #161d28;
    display: flex;
    justify-content: center;
}
#alogo img{
    height: 100%;
    width: 30%;
    margin-left: 420px;
}
#al1{
    margin-left: 25px;
    height: 35%;
    width: 15%;
    display: flex;
    margin-top: 25px;
    border-radius: 10px;
}
#al1 i{
    margin-left: 6px;
    margin-top: 7px;
    color: white;
    font-size: large;
}
#al1 p{
    margin-left: 15px;
    margin-top: 4px;
    font-size: 17px;
}
#fr{
    height: 100%;
    width: 60%;
    background-color: #161d28;
    display: flex;
}
#al2{
    height: 35%;
    width: 15%;
    margin-top: 25px;
    margin-left: 12px;
    border-radius: 9px;
}
#al3{
    height: 35%;
    width: 15%;
    margin-top: 25px;
    margin-left: 12px;
    border-radius: 9px;
    display: flex;
    overflow: hidden;
    align-items: center;
}
#al3 img{
    height: 60%;
    width: 20%; 
    margin-left: 9px;
    object-fit: cover;
}
#al3 a{
    height: 80%;
    width: 70%;
    margin-top: 5px;
    text-decoration: none;
    color: white;
}
#al2 a{
    text-decoration: none;
    color: white;
}
#al1 a{
    text-decoration: none;
    color: white;
}
.aman{
    background-color: #232f3e;
}
.aman:hover{
    background-color: #6d3838;
}
#page img:hover{
    margin-top: 10px;
}
#page2 img:hover{
    margin-top: 10px;
}
#page3 img:hover{
    margin-top: 10px;
}
#page a:hover{
    color: red;
}
#page2 a:hover{
    color: red;
}
#page3 a:hover{
    color: red;
}
#page4 a:hover{
    color: rgb(233, 82, 82);
}
.omnath{
    width: 140px;
    height: 200px;
    padding-left: 8px;
}
.cutegirl{
    width: 140px;
    height: 200px;
    padding-right: 7px;
}
